@import "bootstrap/bootstrap.less";

#container {
  .square(100%);
  overflow: auto;
  position: absolute;
}

#layers-container {
  position: absolute;
  top: 0;
  left: 0;
  .square(100%);

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

 