@import "bootstrap/bootstrap.less";

#container {
  .size(600px, 800px);
  overflow: hidden;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 15px black;
  border: 1px solid gray;
}

#layers-container {
  position: absolute;
  top: 0;
  left: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

#player {
  position: absolute;
  top: 224px;
  left: 96px;
  height: 96px;
  width: 64px;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  z-index: 10000;
}

 