@import "bootstrap/bootstrap.less";

#container {
  .size(600px, 800px);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  box-shadow: 0 0 15px black;
  border: 1px solid gray;
}

#layers-container {
  position: absolute;
  top: 0;
  left: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  div {
    pointer-events: none;
  }
}

#player {
  position: absolute;
  top: 224px;
  left: 96px;
  height: 96px;
  width: 64px;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  z-index: 10000;
}

#ai {
  position: absolute;
  top: 256px;
  left: 96px;
  height: 96px;
  width: 32px;
  box-shadow: 0 0 10px red;
  border-radius: 15px;
  z-index: 20000;
}

#pointer {
  .size(32px, 64px);
  box-shadow: 0 0 10px green;
  position: absolute;
  z-index: 5000;
}
 